APP_NAME=AI Productivity Platform
APP_VERSION=2.0.0
DEBUG=True

DATA_FILE=app/data/todo.json

DATABASE_URL=postgresql+psycopg2://username:password@host:5432/todo_db

AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=your_cognito_user_pool_id
COGNITO_CLIENT_ID=your_cognito_client_id
COGNITO_CLIENT_SECRET=your_cognito_client_secret

AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_S3_BUCKET_NAME=your_s3_bucket_name

CELERY_BROKER_URL=your_celery_broker_url

EMBEDDING_PROVIDER=huggingface
EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

CHROMA_DB_PATH=your_local_chroma_db_path
CHROMA_COLLECTION_NAME=your_chroma_collection_name