APP_NAME=ToDo API
APP_VERSION=1.0.0
DEBUG=True

DATA_FILE=app/data/todo.json

DATABASE_URL=postgresql+psycopg2://username:password@host:5432/todo_db

AWS_REGION=us-east-1
COGNITO_USER_POOL_ID=your_cognito_user_pool_id
COGNITO_CLIENT_ID=your_cognito_client_id
COGNITO_CLIENT_SECRET=your_cognito_client_secret